{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}

{% block body %}
<div class="about-container">
    <div class="card mb-3">
        <img class="bd-placeholder-img card-img-top" src="/static/background.jpg" width="100%" height="180"><rect width="100%" height="100%" fill="#868e96"></rect></svg>
        <h1 style="text-align: center;">About Us</h1>
    
        <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id orci lorem. Phasellus nec augue sit amet enim accumsan imperdiet. Sed felis lorem, volutpat non vulputate at, fringilla ut nunc. Duis sit amet ipsum est. Morbi sed rhoncus leo. Nulla a metus ex. Nulla efficitur lorem in hendrerit fermentum. Donec auctor sem in leo dictum fermentum. Quisque luctus nibh at fermentum condimentum. Nunc maximus velit massa, a rhoncus nisl laoreet vitae. Cras convallis justo lacus, ut suscipit eros mattis eu.<br><br>

            In justo lectus, luctus in congue a, semper nec felis. Curabitur id urna consectetur, euismod augue eu, consectetur neque. Nam sagittis ligula non ante laoreet, nec auctor massa dapibus. Vivamus nec nisl rutrum est tempor pretium suscipit vitae lacus. Sed rutrum ex nulla, quis efficitur purus maximus non. Vestibulum fringilla venenatis lectus, ac malesuada nunc semper in. Aliquam erat volutpat. Nam in justo vel dolor pretium semper eu et lacus. Etiam porttitor mi enim, quis cursus nibh rutrum sit amet. Donec finibus suscipit libero nec scelerisque. Ut fermentum felis sed dolor aliquet faucibus. Aenean mi felis, commodo id lacus in, malesuada lobortis mauris. Aliquam lacinia maximus facilisis.</p>
        </div>
    </div>
</div>
{% endblock %}