{% extends "admin-layout.html" %}

{% block title %}
Student Admission
{% endblock %}

{% block body %}
<div class="container-sm">
    <h3 class="text-center">New Admission</h3>

    <hr class="border border-danger border-1 opacity-50">

    <form class="row g-3" method="post" style="background-color: #fef6f8;">
        <div class="col-md-6">
            <label class="form-label">Student's Name<r class="required-field"> *</r></label>
            <input name="full_name" type="text" class="form-control" required>
        </div>
        <div class="col-md-5">
            <label class="form-label">Student's Name in Devnagari<r class="required-field"> *</r></label>
            <input name="full_name_nepali" type="text" class="form-control" required>
        </div>

        <div class="col-md-4">
          <label class="form-label">Date of Birth<r class="required-field"> *</r></label>
          <input name = "dob" type="date" class="form-control" required>
        </div>
        <div class="col-md-4" style="padding-inline: 1%;">
            <label class="form-label">Intended admission class:&nbsp;</label>
            <select class="form-select" name="grade">
                <option selected>Select</option>
                <option value="grade_nursery">Nursery</option>
                <option value="grade_LKG">L.K.G</option>
                <option value="grade_UKG">U.K.G</option>
                <option value="grade_1">Grade 1</option>
                <option value="grade_2">Grade 2</option>
                <option value="grade_3">Grade 3</option>
                <option value="grade_4">Grade 4</option>
                <option value="grade_5">Grade 5</option>
            </select>
        </div>
        <div class="col-md-4" style="padding-left: 1%;">
            <label class="form-label">Gender<r class="required-field"> *</r></label><br>
            <input type="radio" id="male" name="gender" value="male" required> Male 
            <input type="radio" id="female" name="gender" value="female" required> Female
        </div>
        <!--For Student's father and Mother-->
        <div class="col-md-6">
            <label class="form-label">Father's Name<r class="required-field"> *</r></label>
            <input name="father_name" type="text" class="form-control" required>
        </div>
        <div class="col-md-5">
            <label class="form-label">Father's Mobile Number</label>
            <input name="father_mobile" type="text" class="form-control">
        </div>

        <div class="col-md-6">
            <label class="form-label">Mother's Name<r class="required-field"> *</r></label>
            <input name="mother_name" type="text" class="form-control" required>
        </div>

        <div class="col-md-5">
            <label class="form-label">Mother's Mobile Number</label>
            <input name="mother_mobile" type="text" class="form-control">
        </div>
        <!---->

        <div class="col-md-11">
            <label for="inputAddress" class="form-label">Address<r class="required-field"> *</r></label>
            <input name="p_address" type="text" class="form-control" id="inputAddress" placeholder="Tinpatan 11, Chakmake, Sindhuli" required>
        </div>

        <div class="col-md-6">
            <label class="form-label">Guardian's Name<r class="required-field"> *</r></label>
            <input name="guardian_name" type="text" class="form-control" required>
        </div>

        <div class="col-md-5">
            <label class="form-label">Guardian's Mobile Number<r class="required-field"> *</r></label>
            <input name="guardian_mobile" type="text" class="form-control" required>
        </div>
          <!--For guardians other than Father/Mother-->
        <div class="col-md-6">
            <label class="form-label">Guardian relationship with student<r class="required-field"> *</r></label>
            <input name="guardian_relation" type="text" class="form-control" required>
        </div>
          <!------------------>
          <div class="col-12">
            <button formaction="/admit_student" class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?');">Submit form</button>
          </div>

      </form><br>
</div>
{% endblock %}