{% extends "admin-layout.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block body %}

  <div class="container text-center">
    <h2>Admin Dashboard</h2><br>

    <div class="row row-cols-1 row-cols-md-4 gap-1 justify-content-center" style="color: #595f64;">
        <div class="col">
          <div class="card card-hover">
            <div class="card-body card-box">
              <h6><img src="/static/images/bod-icon.svg" height="30px" width="30px"> Investor Count</h6>
              <div class="mb-0">
                <h6>{{ inv_count }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover">
            <div class="card-body card-box">
              <h6><img src="/static/images/staff-icon.svg" height="30px" width="30px"> Staff Count</h6>
              <div class="mb-0">
                <h6>{{ staff_count }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover">
            <div class="card-body card-box">
              <h6><img src="/static/images/student-icon.svg" height="30px" width="30px"> Student Count</h6>
              <div class="mb-0">
                <h6>{{ std_count }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-hover">
            <div class="card-body card-box">
              <h6><img src="/static/images/sms-system-icon.svg" height="30px" width="30px"> SMS System Balance</h6>
              <div class="mb-0">
                <h6>Rs. {{ sms_system_bal }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div><br>
</div>


{% endblock %}
