<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/evo-calendar.midnight-blue.min.css">
    <link rel="stylesheet" type="text/css" href="/static/evo-calendar.min.css">
    <script type="text/javascript" src="static/jscripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}| Chandra Jyoti School</title>
    <link rel="icon" type="image/x-icon" href="/static/images/cj-school-icon.png">
    <meta name="description" content="Welcome to Chandrajyoti English Boarding School Sindhuli, a leading educational institution in Nepal. We are committed to providing quality education that fosters academic excellence, character development, and lifelong learning.">
    <meta name="keywords" content="School, Chandrajyoti English Boarding School Sindhuli, Education in Nepal, Best school in Sindhuli, Academic excellence, Character development, Lifelong learning, Comprehensive curriculum, Experienced faculty, State-of-the-art facilities, Leading educational institution">
    <meta name="Chandrajyoti School" content="Chandrajyoti English Boarding School Sindhuli">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/static/images/cjs-logo.png" alt="" width="100" height="auto" class="d-inline-block align-text-top"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsandupdates">News & Stories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Explore
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Gallery</a></li>
                <li><a class="dropdown-item" href="/our-teams">Our Teams</a></li>
                <li><a class="dropdown-item" href="#">Events</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/careers">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">About Us</a>
            </li>
            </ul>
                {% if session["member_id"] %}
                  <div class="dropdown profile-dropdown">
                    <button onclick="myFunction()" class="dropbtn"><img src="static/image_profile/img{{ session['member_id'] }}.jpg" class="rounded-circle" height="30px">&nbsp;&nbsp;Profile</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a class="border-bottom" href="/profile">{{ username }}</a>
                      <a class="border-bottom" href="/dashboard">Dashboard</a>
                      <a class="border-bottom" href="#" data-bs-toggle="modal" data-bs-target="#passwordModal" data-bs-whatever="@getbootstrap">Change Password</a>
                      <a class="border-bottom" href="/logout">Log Out</a>
                    </div>
                  </div>
                {% elif session["staff_id"] %}
                <div class="dropdown profile-dropdown">
                  <button onclick="myFunction()" class="dropbtn"><img src="/static/images/person-circle-white.svg" height="30px">&nbsp;&nbsp;Profile</button>
                  <div id="myDropdown" class="dropdown-content">
                    <a class="border-bottom" href="/profile">{{ username }}</a>
                    <a class="border-bottom" href="/dashboard">Dashboard</a>
                    <a class="border-bottom" href="#" data-bs-toggle="modal" data-bs-target="#passwordModal" data-bs-whatever="@getbootstrap">Change Password</a>
                    <a class="border-bottom" href="/logout">Log Out</a>
                  </div>
                </div>
                {% elif session["student_id"] %}
                <div class="dropdown profile-dropdown">
                  <button onclick="myFunction()" class="dropbtn"><img src="/static/images/person-circle-white.svg" height="30px">&nbsp;&nbsp;Profile</button>
                  <div id="myDropdown" class="dropdown-content">
                    <a class="border-bottom" href="/profile">{{ username }}</a>
                    <a class="border-bottom" href="/dashboard">Dashboard</a>
                    <a class="border-bottom" href="#" data-bs-toggle="modal" data-bs-target="#passwordModal" data-bs-whatever="@getbootstrap">Change Password</a>
                    <a class="border-bottom" href="/logout">Log Out</a>
                  </div>
                </div>
                {% elif session["admin_id"] %}
                <div class="dropdown profile-dropdown">
                  <button onclick="myFunction()" class="dropbtn"><img src="/static/images/person-circle-white.svg" height="30px">&nbsp;&nbsp;Profile</button>
                  <div id="myDropdown" class="dropdown-content">
                    <a class="border-bottom" href="/profile">{{ username }}</a>
                    <a class="border-bottom" href="/admin">Dashboard</a>
                    <a class="border-bottom" href="#" data-bs-toggle="modal" data-bs-target="#passwordModal" data-bs-whatever="@getbootstrap">Change Password</a>
                    <a class="border-bottom" href="/logout">Log Out</a>
                  </div>
                </div>
                {% else %}
                <div class="dropdown profile-dropdown">
                    <button onclick="myFunction()" class="dropbtn">Sign In</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a class="border-bottom" href="/login">Sign in</a>
                      <a class="border-bottom" href="#">Need Help?</a>
                    </div>
                  </div>
                {% endif %}
          </div>
        </div>
      </nav>
      {% block body %}{% endblock %}
      {% block footer %}
      <hr class="border border-danger border-4 opacity-100" style="border-bottom: 0;margin-bottom: 0px;margin-top: 0px;">
      <div class="footer"><br>
        <div class="row">
          <!--Column First-->
          <div class="col-sm-4 mb-3 mb-sm-0" style="text-align: center; padding-inline: 20px;">
            <h5>Reach Us</h5>
            <div class="mb-2">
              <img src="/static/images/email.png" alt="" height="25px"> <a href="mailto:chandrajyotiebs@gmail.com" style="text-decoration: none; color: white;">chandrajyotiebs@gmail.com</a> <br>
            </div>
            <div class="mb-2">
              <img src="/static/images/phone.png" alt="" height="25px">+977-9861171968 <br>
            </div>
            <div class="mb-2">
              <img src="/static/images/location.png" alt="" height="25px"> Tinpatan 4, Sindhuli, Nepal
            </div>
          </div>
          <!--Column Third-->
          <div class="col-sm-4 mb-3 mb-sm-0" style="text-align: center; padding-inline: 20px;">
            <h5>Support</h5>
            <div class="mb-2">
              <a href="/terms-and-conditions" style="text-decoration: none; color: white;">Terms and Conditions</a><br>
            </div>
            <div class="mb-2">
              <a href="/privacy-policy"  style="text-decoration: none; color: white;">Privacy Policy</a>
            </div>
            <div class="mb-2">
              <a href="/contact-us" style="text-decoration: none; color: white;">Contact Us</a>
            </div>
          </div>
          <!--Column Fourth-->
          <div class="col-sm-4">
            <div class="social">
              <label><h5>Connect With Us</h5></label>
                <!--Social media icon inline flex-->
              <ul>
                <li><a href="https://www.facebook.com/chandrajyotiebs"><img src="/static/images/facebook.png" alt="Facebook" height="25px"></a></li>
                <li><a href="#"><img src="/static/images/twitter.png" alt="Twitter" height="25px"></a></li>
                <li><a href="#"><img src="/static/images/instagram.png" alt="Instagram" height="25px"></a></li>
                <li><a href="#"><img src="/static/images/youtube.png" alt="Youtube" height="25px"></a></li>
                <li><a href="#"><img src="/static/images/tiktok.png" alt="TikTok" height="25px"></a></li>
              </ul>
            </div>
          </div>
        </div><hr>
        <div class="row-1">
          <div class="col">
            <span style="font-size: 12px;"><b>Copyright © <script>document.write(new Date().getFullYear())</script> Chandra Jyoti English Boarding School Sindhuli.</b></span>
          </div>
          <div class="col">
            <div class="bottom">
              <ul>
                <li><a href="/terms-and-conditions"><h6>Terms of Use</h6></a></li>
                <li><a href="#"><h6>Privacy Policy</h6></a></li>
                <li><a href="/about-us"><h6>About Us</h6></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
</body>
</html>