{% extends "admin-layout.html" %}

{% block title %}
Staff Info
{% endblock %}

{% block body %}

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-8" style="padding: 1%;">
                <div class="card">
                    <div class="card-body card-box">
                        <h5>Staff Info</h5>
                        <form action = "/get-staff-info" method = "post">
                            <div class="mb-3">
                                <input class="form-control" list="staff" name="staff_name" id="user_staff" placeholder="Staff Name...">
                                <datalist id="staff">
                                {% for row in staff_all %}
                                    <option value="{{ row[0] }} : {{ row[1] }}">
                                {% endfor %}
                                </datalist>
                            </div>
                            <div class="mb-0" style="padding-top: 5px;">
                                <button class="btn btn-danger" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          
      </div>

      {% if selected_staff != None %}
      <div class="row">
        <h3>Staff Details</h3>

    <hr class="border border-danger border-1 opacity-50">

    <form class="row g-3" method="post">
      <div class="col-md-11 text-body-secondary hidden">
        <label class="form-label">ID</label>
        <input name="id" type="text" readonly="readonly" value="{{ selected_staff[0] }}" class="form-control" selected placeholder="{{ grade_level }}" required>
      </div>
        <div class="col-md-6 text-body-secondary">
          <label class="form-label">Staff Name<r class="required-field"> *</r></label>
          <input name="full_name" readonly type="text" class="form-control" value="{{ selected_staff[1] }}">
        </div>

        <div class="col-md-5 text-body-secondary">
          <label class="form-label">Email<r class="required-field"> *</r></label>
          <input name = "email" type="email" class="form-control" value="{{ selected_staff[2] }}" required>
        </div>

        <div class="col-md-6 text-body-secondary">
          <label class="form-label">Mobile<r class="required-field"> *</r></label>
          <input name = "mobile" type="text" class="form-control" value="{{ selected_staff[3] }}" required>
        </div>

        <div class="col-md-5 text-body-secondary">
          <label class="form-label">Designation<r class="required-field"> *</r></label>
          <input name = "designation" type="text" class="form-control" value="{{ selected_staff[9] }}" required>
        </div>

        <div class="col-md-6 text-body-secondary">
          <label class="form-label">Class Assigned&nbsp;</label>
            <select class="form-select" name="class_assigned">
                <option selected>Select</option>
                <option value="grade_nursery">Nursery</option>
                <option value="grade_LKG">L.K.G</option>
                <option value="grade_UKG">U.K.G</option>
                <option value="grade_1">Grade 1</option>
                <option value="grade_2">Grade 2</option>
                <option value="grade_3">Grade 3</option>
                <option value="grade_4">Grade 4</option>
                <option value="grade_5">Grade 5</option>
                <option value="None">None</option>
            </select>
        </div>

        <div class="mb-3">
          <button formaction="/update_staff" class="btn btn-danger" type="submit" value="submit" onclick="return confirm('Are you sure?');">Update</button>
        </div>

      </form>
      </div>
      {% else %}
      <div class="container" style="margin-top: 10px;">
            <table class="table" style="text-align: left;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Assigned Class</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for row in staff_all %}
                  <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
      {% endif %}
</div>


{% endblock %}
